<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    button {
      background-color: #4CAF50;
      color: white;
      padding: 8px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #3e8e41;
    }
  </style>
    <script>
        function showVideo(video) {
            var iframe = video.nextElementSibling;
            iframe.style.display = "block";
            video.style.display = "none";
        }
    </script>

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  {% block content %}{% endblock %}

  <footer class="bg-dark text-light mt-3 py-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2023 My Company. All rights reserved.</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Powered by Flask</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha256-/7KuwpLOhSvxyEwglMMpKjSZ7OTIThEe+vVgVL32Lec=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
