<!DOCTYPE html>
<html>
  <head>
    <title>DataFrame Example</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='video_table_styles.css') }}">
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Seconds Since VOD Start</th>
          <th>Round Number</th>
          <th>Game ID</th>
          <th>Show Video</th>
        </tr>
      </thead>
      <tbody>
        {% for index, row in df.iterrows() %}
        <tr>
          <td>{{ row['seconds_since_vod_start'] }}</td>
          <td>{{ row['round_number'] }}</td>
          <td>{{ row['game_id'] }}</td>
          <td>
            <button class="video-button" data-video="{{ row['full_vod_link'] }}">Play</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
      const videoButtons = document.querySelectorAll('.video-button');
        videoButtons.forEach((button) => {
          button.addEventListener('click', () => {
            const vodLink = button.dataset.video;
            const td = button.parentNode;
            const iframe = td.querySelector('iframe');
            if (iframe) {
              td.removeChild(iframe);
            } else {
              const iframe = document.createElement('iframe');
              iframe.src = vodLink;
              td.appendChild(iframe);
            }
          });
        });

    </script>
  </body>
</html>
