<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
          <style>
      /* Increase the size of the JSON data text area */
      .json_data {
        width: 100%;
        height: 300px;
      }

      .big-submit-button {
            font-size: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: #4CAF50;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .big-submit-button:hover {
            background-color: #45a049;
        }

    </style>
  </head>
  <body>
    <h2>Instructions:</h2>

    <ol>
      <li>Obtain a Search JSON either by selecting one
          <a href="/?json_data=%7B%22agent_state_list%22%3A%5B%7B%22agent_name%22%3A%5B%22chamber%22%5D%2C%22health%22%3A%5B10%2C15%5D%2C%22ult_points%22%3A%5B6%2C6%5D%2C%22q_util%22%3A%5B8%2C8%5D%2C%22e_util%22%3A%5B1%2C1%5D%2C%22is_attacking%22%3Atrue%7D%5D%7D&">
              from</a>
          <a href="/?json_data=%7B%22agent_state_list%22%3A%5B%7B%22agent_name%22%3A%5B%22kayo%22%5D%2C%22health%22%3A%5B46%2C50%5D%2C%22ult_points%22%3A%5B5%2C5%5D%2C%22e_util%22%3A%5B1%2C1%5D%2C%22q_util%22%3A%5B2%2C2%5D%7D%5D%7D&">
              the</a>
          <a href="/?json_data=%7B%22agent_state_list%22%3A%5B%7B%22state_count%22%3A%5B5%2C5%5D%2C%22ult_points%22%3A%5B6%2C6%5D%7D%5D%7D&">
              various</a>
          <a href="/?json_data=%7B%22agent_state_list%22%3A%5B%7B%22agent_name%22%3A%5B%22reyna%22%5D%2C%22health%22%3A%5B50%2C90%5D%2C%22ult_points%22%3A%5B10%2C10%5D%2C%22is_attacking%22%3Atrue%7D%2C%7B%22agent_name%22%3A%5B%22sage%22%5D%2C%22ult_points%22%3A%5B10%2C10%5D%7D%5D%2C%22attackers_won%22%3Atrue%2C%22round_number%22%3A%5B13%2C24%5D%7D&">
              examples</a>
          <a href="/?json_data=%7B%22agent_state_list%22%3A%5B%7B%22agent_name%22%3A%5B%22yoru%22%5D%2C%22health%22%3A%5B50%2C90%5D%2C%22ult_points%22%3A%5B0%2C6%5D%2C%22is_attacking%22%3Afalse%7D%2C%7B%22agent_name%22%3A%5B%22viper%22%5D%2C%22health%22%3A%5B20%2C90%5D%2C%22ult_points%22%3A%5B0%2C6%5D%2C%22c_util%22%3A%5B0%2C0%5D%7D%2C%7B%22gun%22%3A%5B%22vandal%22%5D%2C%22health%22%3A%5B100%2C100%5D%2C%22state_count%22%3A%5B2%2C5%5D%7D%5D%7D&">
              provided</a>
          <a href="/?json_data=%7B%22agent_state_list%22%3A%5B%7B%22agent_name%22%3A%5B%22raze%22%2C%22chamber%22%5D%2C%22health%22%3A%5B50%2C90%5D%2C%22ult_points%22%3A%5B3%2C6%5D%2C%22e_util%22%3A%5B1%2C1%5D%7D%2C%7B%22agent_name%22%3A%5B%22brimstone%22%2C%22omen%22%5D%2C%22health%22%3A%5B50%2C100%5D%2C%22ult_points%22%3A%5B4%2C7%5D%2C%22e_util%22%3A%5B1%2C2%5D%7D%2C%7B%22agent_name%22%3A%5B%22cypher%22%2C%22killjoy%22%5D%2C%22health%22%3A%5B50%2C90%5D%2C%22ult_points%22%3A%5B1%2C4%5D%2C%22c_util%22%3A%5B1%2C1%5D%7D%5D%7D&">
              here</a>
           , or by constructing your own search query. You can refer to the <a href="https://github.com/Akiva-Notkin/valorant_search_website">documentation</a> for guidance.</li>

      <li>Click the "Submit" button below. Please allow up to about 15 seconds for the query to execute.
          If your JSON is invalid, an alert will be triggered. If your JSON has no results, it wll show on the page.</li>

      <li>Explore your results! You will be presented with a table that provides information about the round and three links corresponding to different parts of the round:
        <ul>
          <li>The first link leads you to the start of the round, allowing you to view the round in its entirety.</li>
          <li>The second link directs you to the first instance where your condition is satisfied within the round.</li>
          <li>The third link takes you to the final instance where your condition is met, which often corresponds to the end of the round.</li>
        </ul>
      </li>
    </ol>


  {% block form %}{% endblock %}
  <br>
  <br>
    This link should take you back to the same page with the same data you entered above:<br>
    <a id="update_link" href="/">https://valorantvodsearch.com/</a><br>

    <script src="{{ url_for('static', filename='js/search_pages.js') }}"></script>
  </body>
</html>
