<!DOCTYPE html>
<html>
  <head>
    <title>Flask Form Example</title>
          <style>
      /* Increase the size of the JSON data text area */
      .json_data {
        width: 100%;
        height: 300px;
      }
    </style>
  </head>
  <body>
    <form id="myForm" action="/" method="post">
      <label for="json_data">JSON Data:</label>
      <textarea name="json_data" id="json_data" class="json_data">{% if json_data is not none %}{{ json_data | tojson | safe | strip_spaces }}{% endif %}</textarea>

      <input type="submit" value="Submit">
    </form>

    This link should take you back to the same page with the same data you entered above:<br>
    <a id="update_link" href="/">https://valorantvodsearcher.com/</a><br>

    <script src="{{ url_for('static', filename='js/search_pages.js') }}"></script>
  </body>
</html>
