{% extends 'base.html' %}

{% block content %}
    <div>
        {% if 'true_count' in counts and 'false_count' in counts %}
        <p>Team 1 won round count: {{ counts.true_count }}</p>
        <p>Team 2 won round count: {{ counts.false_count }}</p>
        {% endif %}
    </div>
<div>
    <table>
      <thead>
        <tr>
        {% for title in titles if title not in col_skip%}
          <th>{{ title }}</th>
        {% endfor %}
        </tr>
      </thead>
    <tbody>
        {% for game_uuid, game_df in agent_state_table.groupby('game_uuid')%}
          <tr>
            <th colspan="6">{{ game_uuid }}</th>
          </tr>
          {% for index, row in game_df.iterrows() %}
            <tr>
              {% for title, value in row.iteritems() if title not in col_skip %}
                <td>{{ value }}</td>
              {% endfor %}
              {% for title, value in row.iteritems() if title in vod_links %}
                  {% include 'vod_embed.html' %}
              {% endfor %}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
