<!doctype html>
<html>
  <head>
    <title>My Dataframe</title>
        <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    button {
      background-color: #4CAF50;
      color: white;
      padding: 8px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #3e8e41;
    }
  </style>
  </head>
  <body>
    <h1>My Dataframe</h1>
    <script>
        function showVideo(video) {
            var iframe = video.nextElementSibling;
            iframe.style.display = "block";
            video.style.display = "none";
        }
    </script>
    <table>
      <thead>
        <tr>
        {% for title in titles if title not in col_skip%}
          <th>{{ title }}</th>
        {% endfor %}
        </tr>
      </thead>
    <tbody>
        {% for game_uuid, game_df in agent_state_table.groupby('game_uuid')%}
          <tr>
            <th colspan="6">{{ game_uuid }}</th>
          </tr>
          {% for index, row in game_df.iterrows() %}
            <tr>
              {% for title, value in row.iteritems() if title not in col_skip %}
                <td>{{ value }}</td>
              {% endfor %}
              <td>
                <button onclick="showVideo(this)">Round Start</button>
                <div style="display:none;">
                  <iframe width="560" height="315" src="{{ row['round_start_embed_vod'] }}"></iframe>
                </div>
              </td>
              <td>
                <button onclick="showVideo(this)">Condition True Start</button>
                <div style="display:none;">
                  <iframe width="560" height="315" src="{{ row['first_true_embed_vod'] }}"></iframe>
                </div>
              </td>
              <td>
                <button onclick="showVideo(this)">Condition True End</button>
                <div style="display:none;">
                  <iframe width="560" height="315" src="{{ row['last_true_embed_vod'] }}"></iframe>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
