<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
</head>
<body>
<form>
    <div id="slider"></div>
    <br>
    <div id="slider-value"></div>
</form>
<script>
    var slider = document.getElementById('slider');
    var sliderValue = document.getElementById('slider-value');
    noUiSlider.create(slider, {
      start: [0, 100],
      connect: true,
      range: {
        'min': 0,
        'max': 100
      },
        step: 1,
              format: {
        to: function (value) {
          return Math.round(value); // round the value to the nearest integer
        },
        from: function (value) {
          return value; // return the value as is
        }
      }
    });

    slider.noUiSlider.on('update', function (values) {
      var min_value = values[0];
      var max_value = values[1];
      sliderValue.innerHTML = min_value + '-' + max_value;
    });
</script>
</body>
</html>