<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css"/>
    <style>
        .selectBox {
            position: relative;
        }

        .selectBox select {
            width: 100%;
        }

        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .selectOptions {
            display: none;
            border: 0.5px #7c7c7c solid;
            background-color: #ffffff;
            max-height: 150px;
            overflow-y: scroll;
        }

        .selectOptions label {
            display: block;
            font-weight: normal;
            display: block;
            white-space: nowrap;
            min-height: 1.2em;
            background-color: #ffffff00;
            padding: 0 2.25rem 0 .75rem;
            /* padding: .375rem 2.25rem .375rem .75rem; */
        }

        .selectOptions label:hover {
            background-color: #1e90ff;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
<form action="/">
    <div class="container-fluid form-group">
        <div class="form-row row">
            <div class="col-md-1">
                <label for="agentMultiselect">Agent</label>
                <div id="agentMultiselect" class="multiselect">
                    <div id="agentSelectLabel" class="selectBox" onclick="toggleCheckboxArea('agentSelectOptions')">
                        <select class="form-select">
                            <option>None</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="agentSelectOptions" class="selectOptions">
                        {{ agent_html|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <label for="gunMultiselect">Gun</label>
                <div id="gunMultiselect" class="multiselect">
                    <div id="gunSelectLabel" class="selectBox" onclick="toggleCheckboxArea('gunSelectOptions')">
                        <select class="form-select">
                            <option>None</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="gunSelectOptions" class="selectOptions">
                        {{ gun_html|safe }}
                    </div>
                </div>
            </div>
            <button class="btn btn-md col-md-1">Remove Agent</button>
        </div>
        <div class="form-row row">
            <div class="col-md-1">
                <div id="health-slider-value"></div>
                Health
                <br>
                <div id="health-slider"></div>
            </div>
            <div class="col-md-1">
                <div id="armor-slider-value"></div>
                Armor
                <br>
                <div id="armor-slider"></div>
            </div>
            <div class="col-md-1">
                <div id="credits-slider-value"></div>
                Credits
                <br>
                <div id="credits-slider"></div>
            </div>
            <div class="col-md-1">
                <div id="ultimate-slider-value"></div>
                Ult Points
                <br>
                <div id="ultimate-slider"></div>
                <input type="checkbox" name="has-ultimate" value="true">Has Ultimate
            </div>
            <button class="btn btn-md col-md-1">Duplicate Agent</button>
        </div>
    </div>
      <button type="submit">Submit</button>
</form>
<script>
    window.onload = (event) => {
        initMultiselect();
    };

    function initMultiselect() {

        const multiSelects = ['agent', 'gun']
        for (let i = 0; i < multiSelects.length; i++) {
            checkboxStatusChange(multiSelects[i]);
            document.addEventListener("click", function (evt) {
                var flyoutElement = document.getElementById(multiSelects[i] + 'Multiselect'),
                    targetElement = evt.target; // clicked element

                do {
                    if (targetElement == flyoutElement) {
                        // This is a click inside. Do nothing, just return.
                        //console.log('click inside');
                        return;
                    }

                    // Go up the DOM
                    targetElement = targetElement.parentNode;
                } while (targetElement);

                // This is a click outside.
                toggleCheckboxArea(multiSelects[i] + "SelectOptions", true);
                //console.log('click outside');
            });
        }
    }

    function checkboxStatusChange(multiSelect) {
        var multiselect = document.getElementById(multiSelect + "SelectLabel");
        var multiselectOption = multiselect.getElementsByTagName('option')[0];

        var values = [];
        var checkboxes = document.getElementById(multiSelect + "SelectOptions");
        var checkedCheckboxes = checkboxes.querySelectorAll('input[type=checkbox]:checked');

        for (const item of checkedCheckboxes) {
            var checkboxValue = item.getAttribute('value');
            values.push(checkboxValue);
        }

        var dropdownValue = "None";
        if (values.length > 0) {
            dropdownValue = values.join(', ');
        }

        multiselectOption.innerText = dropdownValue;
    }

    function toggleCheckboxArea(multiSelectOptions, onlyHide = false) {
        var checkboxes = document.getElementById(multiSelectOptions);
        var displayValue = checkboxes.style.display;

        if (displayValue != "block") {
            if (onlyHide == false) {
                checkboxes.style.display = "block";
            }
        } else {
            checkboxes.style.display = "none";
        }
    }

    const slidersArray = [['health', 0, 100], ['armor', 0, 50], ['ultimate', 0, 10], ['credits', 0, 9000]]

    for (let i = 0; i < slidersArray.length; i++) {
        createSliders(slidersArray[i][0], slidersArray[i][1], slidersArray[i][2])
    }

    function createSliders(sliderName, minSlider, maxSlider) {

        var slider = document.getElementById(sliderName + '-slider');
        var sliderValue = document.getElementById(sliderName + '-slider-value');
        noUiSlider.create(slider, {
            start: [minSlider, maxSlider],
            connect: true,
            range: {
                'min': minSlider,
                'max': maxSlider
            },
            step: 1,
            format: {
                to: function (value) {
                    return Math.round(value); // round the value to the nearest integer
                },
                from: function (value) {
                    return value; // return the value as is
                }
            }
        });

        slider.noUiSlider.on('update', function (values) {
            var min_value = values[0];
            var max_value = values[1];
            sliderValue.innerHTML = min_value + '-' + max_value;
        });
    }

</script>
</body>
</html>