{% extends 'input_base.html' %}
{% block title %} Valorant VOD Normal Search {% endblock %}
{% block form %}
    <form id="myForm" action="/versus" method="post">
      <label for="team_1_json_data">Team 1 JSON Data:</label>
      <textarea name="team_1_json_data" id="team_1_json_data" class="json_data">{% if team_1_json_data is not none and team_2_json_data is not none %}{{ team_1_json_data | tojson | safe | strip_spaces }}{% endif %}</textarea>
      <label for="team_2_json_data">Team 2 JSON Data:</label>
      <textarea name="team_2_json_data" id="team_2_json_data" class="json_data">{% if team_1_json_data is not none and team_2_json_data is not none %}{{ team_2_json_data | tojson | safe | strip_spaces }}{% endif %}</textarea>

      <input type="submit" value="Submit">
    </form>
{% endblock %}

